.hai:link {
    color: darkred;
}
.hai:hover {
    color: black;
    font-size: 20px;
}
.hai:active {
    font-style: italic;
}
li:first-child a {
    color: rgb(255, 0, 0);
}
li:last-child a {
    color: rgb(0, 204, 255);
}
li:nth-last-child(6) a:hover {
    color: rgb(255, 0, 170);
}
p:first-of-type {
    color: rgb(189, 43, 226);
}
p:last-of-type {
    color: rgb(0, 162, 255);
}